langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
youtube_transcript_api
unstructured
pytube
numexpr
streamlit
huggingface_hub
python-dotenv
langchain==0.0.304
pytube>=12.0.0
yt-dlp>=2024.1.1
validators>=0.18.0
streamlit>=1.22.0
langchain>=0.0.149
langchain_groq>=0.0.1
langchain_community>=0.0.1
